.body{
    background-color: #A0D199;
}
.contact-me {
    width: 300px;
    height: 81px;
    font-family: Bitter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: solid black;
}


.contact-box {
    margin:0;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: solid 2px #b6b5b7;
    background-color: #fffefe;
    text-align: center;
    align-items: center;
    justify-content: center;

display: inline-block;
    margin: 5px;
}


.project-button-back{
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid blue;
    border-radius: 50px;

    color: blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in;

 }
 .project-button-back:hover {
    background-color: blue;
    color: white;
}
.btn{
    height: 100px;
    width: 100%;
    text-align:center;
    align-items: center;
    margin-top: 15px;
 
}
